@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap%27');
$barlow:'Barlow', sans-serif;
$fraunces:'Fraunces', serif ;

.menu_burger{
    display:none;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

body{
    background-color: #4abcf2;
}

header{
    margin-top: 25px;
    height: 700px;
    box-sizing: content-box;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: rgb(68, 68, 68);
    margin-left: 0px;
    margin-right: 0px;
    left: 0;
    right: 0;
    background-image: url('../img/orangerouge.png');
    background-position: center;
}
nav{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;


    ul{
        display: flex;
        gap:40px;
        list-style-type: none;
        ._nav_btn{
            text-decoration: none;
            color:white;
            font-family: 'Barlow', sans-serif;
            font-weight:600;
        }
        .nav_button_contact{
            
            font-family: 'Fraunces', serif;
            color:black;
            font-weight: bold;
            font-size: 20px;
            padding:16px 30px;
            border-radius: 100px;
            background-color: white;
            &:hover{
                color:white;
                background-color: #78cef6;
            }
        }
        
    }
}
.logo{
    height: 33px;
    width: 170px;
    justify-content: flex-start;
}
h1{
    font-family:'Fraunces', serif ;
    font-weight:900;
    font-size:56px;
    color:white;
    letter-spacing: 8.75px;
    margin-top: 70px;
    margin-bottom: 50px;
}

main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin: 0px;
    }


article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: auto;
    background-color: white;
}

._txt_body{
    height: 600px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
	align-content: center;

    h2{
        font-size: 40px;
        margin-bottom: 40px;
        margin-left: 100px;
        margin-right: auto;
        letter-spacing: -0.285px;
        font-family:'Fraunces', serif ;
        font-weight: 900;
    }

    ._p_main{
        color:#808397;
        margin-bottom: 40px;
        text-align: left;
        margin-left: 100px;
        margin-right: 40px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.13px;

    }

    ._btn_learn_egg{
        color: black;
        margin-left: 100px;
        font-family:'Fraunces', serif ;
        font-weight: 900;
        font-size: 15px;
        letter-spacing: 1px;
        background-color: none;
        position:relative;
        top: 8px
    }

    ._btn_learn_cup{
        color: black;
        margin-left: 100px;
        font-family:'Fraunces', serif ;
        font-weight: 900;
        font-size: 15px;
        letter-spacing: 1px;
        background-color: none;
        position:relative;
        top: 8px
    }

    ._shadow_deco_egg{
        height: 10px;
        width: 120px;
        background-color: #FEF2BA;
        margin-left: 100px;
        border-radius: 10px;
    }

    ._shadow_deco_cup{
        height: 10px;
        width: 120px;
        background-color: #FFDBD4;
        margin-left: 100px;
        border-radius: 10px;
    }

    ._btn_learn_egg{
        cursor: pointer;
    }

    ._btn_learn_egg:hover ~ ._shadow_deco_egg{
        background-color: #FAD400;
    }

    ._btn_learn_cup{
        cursor: pointer;
    }

    ._btn_learn_cup:hover ~ ._shadow_deco_cup{
        background-color: #FE7766;
    }

}

._img_body{
    height: 600px;
    width: 50%;
    background-color: crimson;
}

._img_egg{
    background-image: url('../img/oeuf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

._img_cup{
    background-image: url('../img/cup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

._img_cerise{
    background-image: url('../img/cerise.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;


}

._img_mandarine{
    background-image: url('../img/mandarine.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h4{
    font-family:'Fraunces', serif ;
    font-size: 28px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #24554A;
    margin-bottom: 27px;
}

._p_under_main{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: center;
    color: #19536C;
}

._img_body_under{
    display: flex;
	flex-direction: column-reverse;
}
.article_client{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-left: 165px;
    padding-right: 165px;

}
.h2_client{
    font-family:'Fraunces', serif ;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;    
    text-align: center;
    letter-spacing: 5px; 
    color:#a7aaad; 
    background-color: white;
    padding-top:150px; 
    padding-bottom: 50px;
}
.client_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    width: 350px;
    margin-left: 30px;
    margin-right: 30px;



}
.p_client{
    font-family:$barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.12857143580913544px;
    text-align: center;
    color: #5B636D;
    margin-bottom: 69px;
}
.img_client{
    margin-top: 153px;
    margin-bottom: 60px;


}
.nom_client{
    font-family: $fraunces ;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: -0.12857143580913544px;
    text-align: center;
    color: #24303E;
    margin-bottom: 9px;

}
.h6_client{
    display: flex;
    font-family:$barlow;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #A7AAAD;
    margin-bottom: 140px;

}
.quatre_img{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1 1 auto;
    width: 100vw;
}
.quatre_img_deco{
    width:25vw;
    height: 447px;
    background-color: white;
    size-adjust: cover;
    background-size: cover ;
}
.img_lait{
    background-image: url('../img/lait.png');
    background-position: center;
    background-repeat: no-repeat;

}
.img_citron{
    background-image: url('../img/orangeplant.png');
    background-position: center;
    background-repeat: no-repeat;
}
.img_glace{
    background-image: url('../img/glace.png');
    background-position: center;
    background-repeat: no-repeat;


}
.img_sucre{
    background-image: url('../img/sucre.png');
    background-position: center;
    background-repeat: no-repeat;

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #90D4C6;
    height: 350px;
    align-items:center;

}
    
    .footer_logo{
        justify-content:center;
        height: 33px;
        width: 170px;

    }
    .footer_link{
        display: flex;
        flex-wrap: wrap;
        gap: 150px;
        margin-top: 65px;
        :nth-child(1){
            color: #458D7E;
            &:hover{
                color: white;
            }
        }
        :nth-child(2){
            color: #458D7E;
            &:hover{
                color: white;
            }
        }
        :nth-child(3){
            color: #458D7E;
            &:hover{
                color: white;
            }
        }
    }
    .footer_reseaux{
        margin-top: 108px;
        margin-bottom: 73.5px;
        :nth-child(1){
            color: #458D7E;
            
            &:hover{
                color: white;

            }
        }
    
    }


    /*-------------------------------
    RESPONSIVE-------------
    -----------------------------
    */

    @media only screen and (max-width: 769px) {

        .nav_header{
            margin-top: 25px;
        }

        .ul_nav_header{
            display: none;
        }
        body{
            background-color: white;
        }

        ._txt_body h2{
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }

        ._txt_body ._p_main{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-left: 24px;
            margin-right: 24px;
        }

        ._txt_body ._btn_learn_egg{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
        ._txt_body ._btn_learn_cup{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }

        ._txt_body ._shadow_deco_egg {
            display: none;
            height: 10px;
            width: 120px;
            background-color: #FEF2BA;
            margin-left: 127.80000000023px;
            border-radius: 10px;
        }
        ._txt_body ._shadow_deco_cup{
            display: none;
            height: 10px;
            width: 120px;
            background-color: #FFDBD4;
            margin-left: 127.80000000023px;
            border-radius: 10px;
        }

        h1{
            font-size: 7vw;
            margin-left: auto;
            margin-right: auto;
        }
       
        main{
            display: flex;
        }

        article{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .article_egg{
            flex-direction: column-reverse;
            object-fit: fill;
        }
        ._img_body{
            width: 100vw;
            height: 312px;

        }
        ._txt_body{
            width: 100vw;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: center;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            background-position: center;
        }

        .h2_body{
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }

        ._img_egg{
            object-fit: cover;
        }

        ._img_cerise{

            width: 375px;
            height: auto;
        }

        ._img_mandarine{

            width: 375px;
            height: auto;
        }
        .article_client{
            padding-left: 0;
            padding-right: 0 ;
            display: flex;
            flex-direction: column;
        }

        html{
            overflow-x: hidden;
        }
        ._img_body_under{
            width: 100vw;
            height: 600px;
        }

        ._p_under_main{
            margin-left: 24px;
            margin-right: 24px;
        }
        .client_box{
            width: 100vw;
            margin-left: 0;
            margin-right: 0;
        }
        .img_client{
            margin-top: 0;
        }
        .h2_client{
            padding-top: 64px;
            padding-bottom: 64px;
        }
        header{
            margin-top: 0;
        }

        
        .footer_link{
            gap:20px;
        }

        .footer_reseaux{
            margin-top: 50px;
        }

        .footer_reseaux :nth-child(1){
            font-size: x-large;
        }

        .p_client{
            margin-left: 25px;
            margin-right: 25px;
        }

        .menu_burger{
            display:block;
        }

        .quatre_img{
               display: grid;
               height: 325px;
               width: 100vw;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                  "img_lait img_citron"
                  "img_glace img_sucre";
              
              .img_lait { grid-area: img_lait;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            
            }
              
              .img_citron { grid-area: img_citron;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
             }
              
              .img_glace { grid-area: img_glace;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
             }
              
              .img_sucre { grid-area: img_sucre;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
             }
            
        }

    }