@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap%27');
body{
    background-color:#49bcf1;
}
header{

    height: 700px;
    box-sizing: content-box;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: rgb(68, 68, 68);
    position:absolute;
    margin-left: 0px;
    margin-right: 0px;
    left: 0;
    right: 0;
    background-image: url(/src/img/orangerouge.png);
    background-position: center;
}
nav{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;


    ul{
        display: flex;
        gap:40px;
        list-style-type: none;
        a{
            text-decoration: none;
            color:white;
            font-family: 'Barlow', sans-serif;
            font-weight:600;
        }
        .nav_button_contact{
            
            font-family: 'Fraunces', serif;
            color:black;
            font-weight: bold;
            font-size: 20px;
            padding:16px 30px;
            border-radius: 100px;
            background-color: white;
            &:hover{
                color:white;
                background-color: #78cef6;
            }
        }
        
    }
}
.logo{
    height: 33px;
    width: 170px;
    justify-content: flex-start;
}
h1{
    font-family:'Fraunces', serif ;
    font-weight:900;
    font-size:56px;
    color:white;
    letter-spacing: 8.75px;

}
.fleche{
    margin-top: 70px;
}
