@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap%27");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

body {
  background-color: #4abcf2;
}

header {
  margin-top: 25px;
  height: 700px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgb(68, 68, 68);
  margin-left: 0px;
  margin-right: 0px;
  left: 0;
  right: 0;
  background-image: url(/src/img/orangerouge.png);
  background-position: center;
}

nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 30px;
  padding-right: 30px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
nav ul ._nav_btn {
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
nav ul .nav_button_contact {
  font-family: "Fraunces", serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 100px;
  background-color: white;
}
nav ul .nav_button_contact:hover {
  color: white;
  background-color: #78cef6;
}

.logo {
  height: 33px;
  width: 170px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
  color: white;
  letter-spacing: 8.75px;
  margin-top: 70px;
  margin-bottom: 50px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
  height: 600px;
  background-color: rgb(0, 255, 170);
}

._txt_body {
  height: 600px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
._txt_body h2 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: auto;
  letter-spacing: -0.285px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
._txt_body ._p_main {
  color: #808397;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 100px;
  margin-right: 40px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.13px;
}
._txt_body ._btn_learn_egg {
  color: black;
  margin-left: 100px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: none;
  position: relative;
  top: 8px;
}
._txt_body ._btn_learn_cup {
  color: black;
  margin-left: 100px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: none;
  position: relative;
  top: 8px;
}
._txt_body ._shadow_deco_egg {
  height: 10px;
  width: 120px;
  background-color: #FEF2BA;
  margin-left: 100px;
  border-radius: 10px;
}
._txt_body ._shadow_deco_cup {
  height: 10px;
  width: 120px;
  background-color: #FFDBD4;
  margin-left: 100px;
  border-radius: 10px;
}
._txt_body ._btn_learn_egg {
  cursor: pointer;
}
._txt_body ._btn_learn_egg:hover ~ ._shadow_deco_egg {
  background-color: #FAD400;
}
._txt_body ._btn_learn_cup {
  cursor: pointer;
}
._txt_body ._btn_learn_cup:hover ~ ._shadow_deco_cup {
  background-color: #FE7766;
}

._img_body {
  height: 600px;
  width: 50%;
  background-color: crimson;
}

._img_egg {
  background-image: url(/src/img/oeuf.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F9D531;
}

._img_cup {
  background-image: url(/src/img/cup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F57D6D;
}

._img_cerise {
  background-image: url(/src/img/cerise.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F9D531;
}

._img_mandarine {
  background-image: url(/src/img/mandarine.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F57D6D;
}

h4 {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.200000003px;
  text-align: center;
  color: #24554A;
  margin-bottom: 27px;
}

._p_under_main {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  text-align: center;
  color: #19536C;
}

._img_body_under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}/*# sourceMappingURL=style.css.map */